
<header class="py-8 px-5p flex justify-between items-center">

    <a href="/" class="inline-block logo text-4xl font-serif tracking-wide"> LOGO </a>

    <nav class="uppercase font-serif">

          <a href="/about" class="p-2"> About </a>
          <a href="/blog" class="p-2"> Blog </a>
          <a href="/members" class="p-2"> Members </a>
          <a href="/shop" class="p-2"> Shop </a>
          <a href="/contact" class="p-2"> Contact </a>

    </nav> 

  </header>


<!-- 
  NOTE - need to style scrollbars more beeautifully and browser compatibly
--> 
