<div>
    <div class="relative aspect-landscape mb-2" id="before-and-after-slider">

        <!-- After image in the foreground  -->
        <div class="absolute pointer-events-none inset-0 bg-image bg-cover bg-center" id="focus-image"
             style="background-image:url('{{page.comparison-images[0].after-image}}')"></div>

    </div>
    <div class="grid grid-cols-6 gap-2" id="alt-image-grid">
        {% for image in page.comparison-images %}
        
        <div class="col-span-1 aspect-landscape relative">
            <img src="{{image.before-image}}"
                class="absolute inset-0 object-cover object-center h-full w-full">
        </div>
        {% endfor %}
    </div>
</div>


<!-- Essential Javascript-->


<script src="https://unpkg.com/gsap@3.12.1/dist/gsap.min.js"></script>
<script>

const sliderContainer = document.querySelector('#thumbnail-gallery')

//   

// Open your HTML file in a web browser, and you should now have a slider that adjusts its width based on the mouse position.

// By following these beginner-friendly instructions, you should be able to successfully implement the provided GSAP functionality for the slider on your web page.


// change image functionality
const altImageGrid = document.querySelector('#alt-image-grid')
const altImages = altImageGrid.querySelectorAll('img')

altImages.forEach(img => {
  img.addEventListener('click', () => {
    console.log(img.src,img.dataset.priImage)
    gsap.set('#focus-image',{
      backgroundImage: `url('${img.src}')`
    })
  })
});

</script> 