<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body class="bg-stone-300">

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}

    <script>
        var MemberSpace = window.MemberSpace || {"subdomain":"travelblog"};
        (function(d){
          var s = d.createElement("script");
          s.src = "https://cdn.memberspace.com/scripts/widgets.js";
          var e = d.getElementsByTagName("script")[0];
          e.parentNode.insertBefore(s,e);
        }(document));
    </script>

    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>

    <script src="//unpkg.com/alpinejs" defer></script>
    <!-- Javascript  -->
    <script src="/main.js"></script>

    <script>
        const player = new Plyr('#player');
    </script>


</body>

</html>